@model IEnumerable<RootObject>;

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Base</th>
            <th>ExcRate</th>
            <th>Quote</th>
            @*<th>Amount</th>*@
        </tr>
        @foreach (RootObject x in Model)
        {
        <tr>
            <td>@x.Date.ToString("yyyy-MM-dd")</td>
            <td>@x.Base</td>
            <td>@x.ExcRate.AED</td>
            <td>@x.ExcRate.AFN</td>
            <td>@x.ExcRate.ALL</td>
            <td>@x.ExcRate.AMD</td>
            <td>@x.ExcRate.ANG</td>
            <td>@x.ExcRate.AOA</td>
            <td>@x.ExcRate.ARS</td>
            <td>@x.ExcRate.AUD</td>
            <td>@x.ExcRate.AWG</td>
            <td>@x.ExcRate.AZN</td>
            <td>@x.ExcRate.BAM</td>
            <td>@x.ExcRate.BBD</td>
            <td>@x.ExcRate.BDT</td>
            <td>@x.ExcRate.BGN</td>
            <td>@x.ExcRate.BHD</td>
            <td>@x.ExcRate.BIF</td>
            <td>@x.ExcRate.BMD</td>
            <td>@x.ExcRate.BND</td>
            <td>@x.ExcRate.BOB</td>
            <td>@x.ExcRate.BRL</td>
            <td>@x.ExcRate.BSD</td>
            <td>@x.ExcRate.BTC</td>
            <td>@x.ExcRate.BTN</td>
            <td>@x.ExcRate.BWP</td>
            <td>@x.ExcRate.BYN</td>
            <td>@x.ExcRate.BYR</td>
            <td>@x.ExcRate.BZD</td>
            <td>@x.ExcRate.CAD</td>
            <td>@x.ExcRate.CDF</td>
            <td>@x.ExcRate.CHF</td>
            <td>@x.ExcRate.CLF</td>
            <td>@x.ExcRate.CLP</td>
            <td>@x.ExcRate.CNY</td>
            <td>@x.ExcRate.COP</td>
            <td>@x.ExcRate.CRC</td>
            <td>@x.ExcRate.CUC</td>
            <td>@x.ExcRate.CUP</td>
            <td>@x.ExcRate.CVE</td>
            <td>@x.ExcRate.CZK</td>
            <td>@x.ExcRate.DJF</td>
            <td>@x.ExcRate.DKK</td>
            <td>@x.ExcRate.DOP</td>
            <td>@x.ExcRate.DZD</td>
            <td>@x.ExcRate.EGP</td>
            <td>@x.ExcRate.ERN</td>
            <td>@x.ExcRate.ETB</td>
            <td>@x.ExcRate.EUR</td>
            <td>@x.ExcRate.FJD</td>
            <td>@x.ExcRate.FKP</td>
            <td>@x.ExcRate.GBP</td>
            <td>@x.ExcRate.GEL</td>
            <td>@x.ExcRate.GGP</td>
            <td>@x.ExcRate.GHS</td>
            <td>@x.ExcRate.GIP</td>
            <td>@x.ExcRate.GMD</td>
            <td>@x.ExcRate.GNF</td>
            <td>@x.ExcRate.GTQ</td>
            <td>@x.ExcRate.GYD</td>
            <td>@x.ExcRate.HKD</td>
            <td>@x.ExcRate.HNL</td>
            <td>@x.ExcRate.HRK</td>
            <td>@x.ExcRate.HTG</td>
            <td>@x.ExcRate.HUF</td>
            <td>@x.ExcRate.IDR</td>
            <td>@x.ExcRate.ILS</td>
            <td>@x.ExcRate.IMP</td>
            <td>@x.ExcRate.INR</td>
            <td>@x.ExcRate.IQD</td>
            <td>@x.ExcRate.IRR</td>
            <td>@x.ExcRate.ISK</td>
            <td>@x.ExcRate.JEP</td>
            <td>@x.ExcRate.JMD</td>
            <td>@x.ExcRate.JOD</td>
            <td>@x.ExcRate.JPY</td>
            <td>@x.ExcRate.KES</td>
            <td>@x.ExcRate.KGS</td>
            <td>@x.ExcRate.KHR</td>
            <td>@x.ExcRate.KMF</td>
            <td>@x.ExcRate.KPW</td>
            <td>@x.ExcRate.KRW</td>
            <td>@x.ExcRate.KWD</td>
            <td>@x.ExcRate.KYD</td>
            <td>@x.ExcRate.KZT</td>
            <td>@x.ExcRate.LAK</td>
            <td>@x.ExcRate.LBP</td>
            <td>@x.ExcRate.LKR</td>
            <td>@x.ExcRate.LRD</td>
            <td>@x.ExcRate.LSL</td>
            <td>@x.ExcRate.LTL</td>
            <td>@x.ExcRate.LVL</td>
            <td>@x.ExcRate.LYD</td>
            <td>@x.ExcRate.MAD</td>
            <td>@x.ExcRate.MDL</td>
            <td>@x.ExcRate.MGA</td>
            <td>@x.ExcRate.MKD</td>
            <td>@x.ExcRate.MMK</td>
            <td>@x.ExcRate.MNT</td>
            <td>@x.ExcRate.MOP</td>
            <td>@x.ExcRate.MRO</td>
            <td>@x.ExcRate.MUR</td>
            <td>@x.ExcRate.MVR</td>
            <td>@x.ExcRate.MWK</td>
            <td>@x.ExcRate.MXN</td>
            <td>@x.ExcRate.MYR</td>
            <td>@x.ExcRate.MZN</td>
            <td>@x.ExcRate.NAD</td>
            <td>@x.ExcRate.NGN</td>
            <td>@x.ExcRate.NIO</td>
            <td>@x.ExcRate.NOK</td>
            <td>@x.ExcRate.NPR</td>
            <td>@x.ExcRate.NZD</td>
            <td>@x.ExcRate.OMR</td>
            <td>@x.ExcRate.PAB</td>
            <td>@x.ExcRate.PEN</td>
            <td>@x.ExcRate.PGK</td>
            <td>@x.ExcRate.PHP</td>
            <td>@x.ExcRate.PKR</td>
            <td>@x.ExcRate.PLN</td>
            <td>@x.ExcRate.PYG</td>
            <td>@x.ExcRate.QAR</td>
            <td>@x.ExcRate.RON</td>
            <td>@x.ExcRate.RSD</td>
            <td>@x.ExcRate.RUB</td>
            <td>@x.ExcRate.RWF</td>
            <td>@x.ExcRate.SAR</td>
            <td>@x.ExcRate.SBD</td>
            <td>@x.ExcRate.SCR</td>
            <td>@x.ExcRate.SDG</td>
            <td>@x.ExcRate.SEK</td>
            <td>@x.ExcRate.SGD</td>
            <td>@x.ExcRate.SHP</td>
            <td>@x.ExcRate.SLL</td>
            <td>@x.ExcRate.SOS</td>
            <td>@x.ExcRate.SRD</td>
            <td>@x.ExcRate.STD</td>
            <td>@x.ExcRate.SVC</td>
            <td>@x.ExcRate.SYP</td>
            <td>@x.ExcRate.SZL</td>
            <td>@x.ExcRate.THB</td>
            <td>@x.ExcRate.TJS</td>
            <td>@x.ExcRate.TMT</td>
            <td>@x.ExcRate.TND</td>
            <td>@x.ExcRate.TOP</td>
            <td>@x.ExcRate.TRY</td>
            <td>@x.ExcRate.TTD</td>
            <td>@x.ExcRate.TWD</td>
            <td>@x.ExcRate.TZS</td>
            <td>@x.ExcRate.UAH</td>
            <td>@x.ExcRate.UGX</td>
            <td>@x.ExcRate.USD</td>
            <td>@x.ExcRate.UYU</td>
            <td>@x.ExcRate.UZS</td>
            <td>@x.ExcRate.VEF</td>
            <td>@x.ExcRate.VND</td>
            <td>@x.ExcRate.VUV</td>
            <td>@x.ExcRate.WST</td>
            <td>@x.ExcRate.XAF</td>
            <td>@x.ExcRate.XAG</td>
            <td>@x.ExcRate.XAU</td>
            <td>@x.ExcRate.XCD</td>
            <td>@x.ExcRate.XDR</td>
            <td>@x.ExcRate.XOF</td>
            <td>@x.ExcRate.XPF</td>
            <td>@x.ExcRate.YER</td>
            <td>@x.ExcRate.ZAR</td>
            <td>@x.ExcRate.ZMK</td>
            <td>@x.ExcRate.ZMW</td>
            <td>@x.ExcRate.ZWL</td>


        </tr>
        }
    </table>

@*@{
    foreach (RootObject x in Model)
    {
        <p>@x.Base</p>
        <p>@x.ExcRate.AED</p>
        <p>@x.ExcRate.AFN</p>
        <p>@x.ExcRate.ALL</p>
        <p>@x.ExcRate.AMD</p>
        <p>@x.ExcRate.ANG</p>
        <p>@x.ExcRate.AOA</p>
        <p>@x.ExcRate.ARS</p>
        <p>@x.ExcRate.AUD</p>
        <p>@x.ExcRate.AWG</p>
        <p>@x.ExcRate.AZN</p>
        <p>@x.ExcRate.BAM</p>
        <p>@x.ExcRate.BBD</p>
        <p>@x.ExcRate.BDT</p>
        <p>@x.ExcRate.BGN</p>
        <p>@x.ExcRate.BHD</p>
        <p>@x.ExcRate.BIF</p>
        <p>@x.ExcRate.BMD</p>
        <p>@x.ExcRate.BND</p>
        <p>@x.ExcRate.BOB</p>
        <p>@x.ExcRate.BRL</p>
        <p>@x.ExcRate.BSD</p>
        <p>@x.ExcRate.BTC</p>
        <p>@x.ExcRate.BTN</p>
        <p>@x.ExcRate.BWP</p>
        <p>@x.ExcRate.BYN</p>
        <p>@x.ExcRate.BYR</p>
        <p>@x.ExcRate.BZD</p>
        <p>@x.ExcRate.CAD</p>
        <p>@x.ExcRate.CDF</p>
        <p>@x.ExcRate.CHF</p>
        <p>@x.ExcRate.CLF</p>
        <p>@x.ExcRate.CLP</p>
        <p>@x.ExcRate.CNY</p>
        <p>@x.ExcRate.COP</p>
        <p>@x.ExcRate.CRC</p>
        <p>@x.ExcRate.CUC</p>
        <p>@x.ExcRate.CUP</p>
        <p>@x.ExcRate.CVE</p>
        <p>@x.ExcRate.CZK</p>
        <p>@x.ExcRate.DJF</p>
        <p>@x.ExcRate.DKK</p>
        <p>@x.ExcRate.DOP</p>
        <p>@x.ExcRate.DZD</p>
        <p>@x.ExcRate.EGP</p>
        <p>@x.ExcRate.ERN</p>
        <p>@x.ExcRate.ETB</p>
        <p>@x.ExcRate.EUR</p>
        <p>@x.ExcRate.FJD</p>
        <p>@x.ExcRate.FKP</p>
        <p>@x.ExcRate.GBP</p>
        <p>@x.ExcRate.GEL</p>
        <p>@x.ExcRate.GGP</p>
        <p>@x.ExcRate.GHS</p>
        <p>@x.ExcRate.GIP</p>
        <p>@x.ExcRate.GMD</p>
        <p>@x.ExcRate.GNF</p>
        <p>@x.ExcRate.GTQ</p>
        <p>@x.ExcRate.GYD</p>
        <p>@x.ExcRate.HKD</p>
        <p>@x.ExcRate.HNL</p>
        <p>@x.ExcRate.HRK</p>
        <p>@x.ExcRate.HTG</p>
        <p>@x.ExcRate.HUF</p>
        <p>@x.ExcRate.IDR</p>
        <p>@x.ExcRate.ILS</p>
        <p>@x.ExcRate.IMP</p>
        <p>@x.ExcRate.INR</p>
        <p>@x.ExcRate.IQD</p>
        <p>@x.ExcRate.IRR</p>
        <p>@x.ExcRate.ISK</p>
        <p>@x.ExcRate.JEP</p>
        <p>@x.ExcRate.JMD</p>
        <p>@x.ExcRate.JOD</p>
        <p>@x.ExcRate.JPY</p>
        <p>@x.ExcRate.KES</p>
        <p>@x.ExcRate.KGS</p>
        <p>@x.ExcRate.KHR</p>
        <p>@x.ExcRate.KMF</p>
        <p>@x.ExcRate.KPW</p>
        <p>@x.ExcRate.KRW</p>
        <p>@x.ExcRate.KWD</p>
        <p>@x.ExcRate.KYD</p>
        <p>@x.ExcRate.KZT</p>
        <p>@x.ExcRate.LAK</p>
        <p>@x.ExcRate.LBP</p>
        <p>@x.ExcRate.LKR</p>
        <p>@x.ExcRate.LRD</p>
        <p>@x.ExcRate.LSL</p>
        <p>@x.ExcRate.LTL</p>
        <p>@x.ExcRate.LVL</p>
        <p>@x.ExcRate.LYD</p>
        <p>@x.ExcRate.MAD</p>
        <p>@x.ExcRate.MDL</p>
        <p>@x.ExcRate.MGA</p>
        <p>@x.ExcRate.MKD</p>
        <p>@x.ExcRate.MMK</p>
        <p>@x.ExcRate.MNT</p>
        <p>@x.ExcRate.MOP</p>
        <p>@x.ExcRate.MRO</p>
        <p>@x.ExcRate.MUR</p>
        <p>@x.ExcRate.MVR</p>
        <p>@x.ExcRate.MWK</p>
        <p>@x.ExcRate.MXN</p>
        <p>@x.ExcRate.MYR</p>
        <p>@x.ExcRate.MZN</p>
        <p>@x.ExcRate.NAD</p>
        <p>@x.ExcRate.NGN</p>
        <p>@x.ExcRate.NIO</p>
        <p>@x.ExcRate.NOK</p>
        <p>@x.ExcRate.NPR</p>
        <p>@x.ExcRate.NZD</p>
        <p>@x.ExcRate.OMR</p>
        <p>@x.ExcRate.PAB</p>
        <p>@x.ExcRate.PEN</p>
        <p>@x.ExcRate.PGK</p>
        <p>@x.ExcRate.PHP</p>
        <p>@x.ExcRate.PKR</p>
        <p>@x.ExcRate.PLN</p>
        <p>@x.ExcRate.PYG</p>
        <p>@x.ExcRate.QAR</p>
        <p>@x.ExcRate.RON</p>
        <p>@x.ExcRate.RSD</p>
        <p>@x.ExcRate.RUB</p>
        <p>@x.ExcRate.RWF</p>
        <p>@x.ExcRate.SAR</p>
        <p>@x.ExcRate.SBD</p>
        <p>@x.ExcRate.SCR</p>
        <p>@x.ExcRate.SDG</p>
        <p>@x.ExcRate.SEK</p>
        <p>@x.ExcRate.SGD</p>
        <p>@x.ExcRate.SHP</p>
        <p>@x.ExcRate.SLL</p>
        <p>@x.ExcRate.SOS</p>
        <p>@x.ExcRate.SRD</p>
        <p>@x.ExcRate.STD</p>
        <p>@x.ExcRate.SVC</p>
        <p>@x.ExcRate.SYP</p>
        <p>@x.ExcRate.SZL</p>
        <p>@x.ExcRate.THB</p>
        <p>@x.ExcRate.TJS</p>
        <p>@x.ExcRate.TMT</p>
        <p>@x.ExcRate.TND</p>
        <p>@x.ExcRate.TOP</p>
        <p>@x.ExcRate.TRY</p>
        <p>@x.ExcRate.TTD</p>
        <p>@x.ExcRate.TWD</p>
        <p>@x.ExcRate.TZS</p>
        <p>@x.ExcRate.UAH</p>
        <p>@x.ExcRate.UGX</p>
        <p>@x.ExcRate.USD</p>
        <p>@x.ExcRate.UYU</p>
        <p>@x.ExcRate.UZS</p>
        <p>@x.ExcRate.VEF</p>
        <p>@x.ExcRate.VND</p>
        <p>@x.ExcRate.VUV</p>
        <p>@x.ExcRate.WST</p>
        <p>@x.ExcRate.XAF</p>
        <p>@x.ExcRate.XAG</p>
        <p>@x.ExcRate.XAU</p>
        <p>@x.ExcRate.XCD</p>
        <p>@x.ExcRate.XDR</p>
        <p>@x.ExcRate.XOF</p>
        <p>@x.ExcRate.XPF</p>
        <p>@x.ExcRate.YER</p>
        <p>@x.ExcRate.ZAR</p>
        <p>@x.ExcRate.ZMK</p>
        <p>@x.ExcRate.ZMW</p>
        <p>@x.ExcRate.ZWL</p>

    }


}*@