@model IEnumerable<RootObject>;

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<table class="table table-bordered table-responsive table-hover">
    @foreach (RootObject x in Model)
    {
        <tr>
            <th>@x</th>
            <th>ExcRate</th>
            <th>Quote</th>
            @*<th>Amount</th>*@
        </tr>

        <tr>
            <td>@x.Date.ToString("yyyy-MM-dd")</td>
            <td>@x.Base</td>
            <td>@x.ExcRate.AED</td>
            <td>@x.ExcRate.AFN</td>
            <td>@x.ExcRate.ALL</td>
            <td>@x.ExcRate.AMD</td>
            <td>@x.ExcRate.ANG</td>
            <td>@x.ExcRate.AOA</td>
            <td>@x.ExcRate.ARS</td>
            <td>@x.ExcRate.AUD</td>
            <td>@x.ExcRate.AWG</td>
            <td>@x.ExcRate.AZN</td>
            <td>@x.ExcRate.BAM</td>
            <td>@x.ExcRate.BBD</td>
            <td>@x.ExcRate.BDT</td>
            <td>@x.ExcRate.BGN</td>
            <td>@x.ExcRate.BHD</td>
            <td>@x.ExcRate.BIF</td>
            <td>@x.ExcRate.BMD</td>
            <td>@x.ExcRate.BND</td>
            <td>@x.ExcRate.BOB</td>
            <td>@x.ExcRate.BRL</td>
            <td>@x.ExcRate.BSD</td>
            <td>@x.ExcRate.BTC</td>
            <td>@x.ExcRate.BTN</td>
            <td>@x.ExcRate.BWP</td>
            <td>@x.ExcRate.BYN</td>
            <td>@x.ExcRate.BYR</td>
            <td>@x.ExcRate.BZD</td>
            <td>@x.ExcRate.CAD</td>
            <td>@x.ExcRate.CDF</td>
            <td>@x.ExcRate.CHF</td>
            <td>@x.ExcRate.CLF</td>
            <td>@x.ExcRate.CLP</td>
            <td>@x.ExcRate.CNY</td>
            <td>@x.ExcRate.COP</td>
            <td>@x.ExcRate.CRC</td>
            <td>@x.ExcRate.CUC</td>
            <td>@x.ExcRate.CUP</td>
            <td>@x.ExcRate.CVE</td>
            <td>@x.ExcRate.CZK</td>
            <td>@x.ExcRate.DJF</td>
            <td>@x.ExcRate.DKK</td>
            <td>@x.ExcRate.DOP</td>
            <td>@x.ExcRate.DZD</td>
            <td>@x.ExcRate.EGP</td>
            <td>@x.ExcRate.ERN</td>
            <td>@x.ExcRate.ETB</td>
            <td>@x.ExcRate.EUR</td>
            <td>@x.ExcRate.FJD</td>
            <td>@x.ExcRate.FKP</td>
            <td>@x.ExcRate.GBP</td>
            <td>@x.ExcRate.GEL</td>
            <td>@x.ExcRate.GGP</td>
            <td>@x.ExcRate.GHS</td>
            <td>@x.ExcRate.GIP</td>
            <td>@x.ExcRate.GMD</td>
            <td>@x.ExcRate.GNF</td>
            <td>@x.ExcRate.GTQ</td>
            <td>@x.ExcRate.GYD</td>
            <td>@x.ExcRate.HKD</td>
            <td>@x.ExcRate.HNL</td>
            <td>@x.ExcRate.HRK</td>
            <td>@x.ExcRate.HTG</td>
            <td>@x.ExcRate.HUF</td>
            <td>@x.ExcRate.IDR</td>
            <td>@x.ExcRate.ILS</td>
            <td>@x.ExcRate.IMP</td>
            <td>@x.ExcRate.INR</td>
            <td>@x.ExcRate.IQD</td>
            <td>@x.ExcRate.IRR</td>
            <td>@x.ExcRate.ISK</td>
            <td>@x.ExcRate.JEP</td>
            <td>@x.ExcRate.JMD</td>
            <td>@x.ExcRate.JOD</td>
            <td>@x.ExcRate.JPY</td>
            <td>@x.ExcRate.KES</td>
            <td>@x.ExcRate.KGS</td>
            <td>@x.ExcRate.KHR</td>
            <td>@x.ExcRate.KMF</td>
            <td>@x.ExcRate.KPW</td>
            <td>@x.ExcRate.KRW</td>
            <td>@x.ExcRate.KWD</td>
            <td>@x.ExcRate.KYD</td>
            <td>@x.ExcRate.KZT</td>
            <td>@x.ExcRate.LAK</td>
            <td>@x.ExcRate.LBP</td>
            <td>@x.ExcRate.LKR</td>
            <td>@x.ExcRate.LRD</td>
            <td>@x.ExcRate.LSL</td>
            <td>@x.ExcRate.LTL</td>
            <td>@x.ExcRate.LVL</td>
            <td>@x.ExcRate.LYD</td>
            <td>@x.ExcRate.MAD</td>
            <td>@x.ExcRate.MDL</td>
            <td>@x.ExcRate.MGA</td>
            <td>@x.ExcRate.MKD</td>
            <td>@x.ExcRate.MMK</td>
            <td>@x.ExcRate.MNT</td>
            <td>@x.ExcRate.MOP</td>
            <td>@x.ExcRate.MRO</td>
            <td>@x.ExcRate.MUR</td>
            <td>@x.ExcRate.MVR</td>
            <td>@x.ExcRate.MWK</td>
            <td>@x.ExcRate.MXN</td>
            <td>@x.ExcRate.MYR</td>
            <td>@x.ExcRate.MZN</td>
            <td>@x.ExcRate.NAD</td>
            <td>@x.ExcRate.NGN</td>
            <td>@x.ExcRate.NIO</td>
            <td>@x.ExcRate.NOK</td>
            <td>@x.ExcRate.NPR</td>
            <td>@x.ExcRate.NZD</td>
            <td>@x.ExcRate.OMR</td>
            <td>@x.ExcRate.PAB</td>
            <td>@x.ExcRate.PEN</td>
            <td>@x.ExcRate.PGK</td>
            <td>@x.ExcRate.PHP</td>
            <td>@x.ExcRate.PKR</td>
            <td>@x.ExcRate.PLN</td>
            <td>@x.ExcRate.PYG</td>
            <td>@x.ExcRate.QAR</td>
            <td>@x.ExcRate.RON</td>
            <td>@x.ExcRate.RSD</td>
            <td>@x.ExcRate.RUB</td>
            <td>@x.ExcRate.RWF</td>
            <td>@x.ExcRate.SAR</td>
            <td>@x.ExcRate.SBD</td>
            <td>@x.ExcRate.SCR</td>
            <td>@x.ExcRate.SDG</td>
            <td>@x.ExcRate.SEK</td>
            <td>@x.ExcRate.SGD</td>
            <td>@x.ExcRate.SHP</td>
            <td>@x.ExcRate.SLL</td>
            <td>@x.ExcRate.SOS</td>
            <td>@x.ExcRate.SRD</td>
            <td>@x.ExcRate.STD</td>
            <td>@x.ExcRate.SVC</td>
            <td>@x.ExcRate.SYP</td>
            <td>@x.ExcRate.SZL</td>
            <td>@x.ExcRate.THB</td>
            <td>@x.ExcRate.TJS</td>
            <td>@x.ExcRate.TMT</td>
            <td>@x.ExcRate.TND</td>
            <td>@x.ExcRate.TOP</td>
            <td>@x.ExcRate.TRY</td>
            <td>@x.ExcRate.TTD</td>
            <td>@x.ExcRate.TWD</td>
            <td>@x.ExcRate.TZS</td>
            <td>@x.ExcRate.UAH</td>
            <td>@x.ExcRate.UGX</td>
            <td>@x.ExcRate.USD</td>
            <td>@x.ExcRate.UYU</td>
            <td>@x.ExcRate.UZS</td>
            <td>@x.ExcRate.VEF</td>
            <td>@x.ExcRate.VND</td>
            <td>@x.ExcRate.VUV</td>
            <td>@x.ExcRate.WST</td>
            <td>@x.ExcRate.XAF</td>
            <td>@x.ExcRate.XAG</td>
            <td>@x.ExcRate.XAU</td>
            <td>@x.ExcRate.XCD</td>
            <td>@x.ExcRate.XDR</td>
            <td>@x.ExcRate.XOF</td>
            <td>@x.ExcRate.XPF</td>
            <td>@x.ExcRate.YER</td>
            <td>@x.ExcRate.ZAR</td>
            <td>@x.ExcRate.ZMK</td>
            <td>@x.ExcRate.ZMW</td>
            <td>@x.ExcRate.ZWL</td>


        </tr>
    }
</table>