@model IEnumerable<TransactionData>;
@{
    ViewData["Title"] = "Privacy Policy";
    //var trans = (Transaction)ViewData["MyTrans"];
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">

    @*<th>@Model.Count()</th>*@
    <tr>
        <th>Date</th>
        <th>Country</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>= EUR</th>
    </tr>
    @foreach (TransactionData d in Model)
    {
        <tr>
            <td>@d.Date.ToString("yyyy-MM-dd")</td>
            <td>@d.Country</td>
            <td>@d.Currency</td>
            <td>@d.Amount</td>
            <td>@d.AmountEur</td>
        </tr>
    }
</table>

@{
    ViewBag.Title = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
