@model IEnumerable<TransactionData>;
@{
    ViewData["Title"] = "Privacy Policy";
    //var trans = (Transaction)ViewData["MyTrans"];
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>

<table id="demo" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        @*<th>@Model.Count()</th>*@
        <tr>
            @*<th>Date</th>*@
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
            </th>
            <th>
                Currency
            </th>
            <
            <th>
                Amount
            </th>
            <th>
                @Html.ActionLink("EUR", "Index", new { sortOrder = ViewBag.EurSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TransactionData d in Model)
        {
            <tr>
                <td>@d.Date.ToString("yyyy-MM-dd")</td>
                <td>@d.Country</td>
                <td>@d.Currency</td>
                <td>@d.Amount</td>
                <td>@d.AmountEur</td>
            </tr>
        }
    </tbody>
</table>

    @{
        ViewBag.Title = "view";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }




